* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b0327;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Courier, monospace;
}

img {
  display: block;
  width: 100%;
}

nav {
  height: 10vh;
  background: #1b0327;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.img-container {
  margin: 0 auto;
  width: 300px;
}

main {
  height: (70vh - 40px);
  background-color: #1b0327;
}

hgroup {
  color: #f60074;
  text-align: center;
  font-size: 26px;
}

.container {
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 420px;

  margin: 0 auto;
  background: linear-gradient(rgba(246, 0, 116, 0.2), rgba(246, 0, 116, 0.5));
  border-radius: 15px;
}

.exercicios {
  list-style: none;
  padding-top: 20px;
  padding-left: 33px;
}

.exercicios li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in;
}

.exercicios li a:hover {
  letter-spacing: 1px;
  color: #f60074;
}

footer {
  color: white;
  background: black;
  height: 22vh;
  position: sticky;
  top: 100%;
  display: flex;
  align-items: center;
}

.footer-center {
  text-align: center;
  width: 300px;

  margin: 0 auto;
}

.footer-center h4 {
  font-size: 22px;
}

.icons {
  display: flex;
  margin: 0 auto;
  list-style: none;
  width: 200px;
  justify-content: space-between;
  margin-top: 15px;
  color: white;
}

.icons li {
  text-align: center;
  font-size: 35px;
}

.icons li i {
  color: rgb(214, 212, 212);
  transition: all 0.3s ease-in;
}

.icons li i:hover {
  color: #e35fbb;
}

.destaque {
  color: yellow;
  font-size: 14px;
}

.dificil {
  color: #e35fbb;
  font-size: 14px;
}
